altgraph==0.17.4
astroid==3.1.0
colorama==0.4.6
dill==0.3.8
importlib_metadata==7.0.2
isort==5.13.2
loguru==0.7.2
lxml==5.1.0
mccabe==0.7.0
packaging==24.0
pefile==2023.2.7
pillow==10.2.0
platformdirs==4.2.0
pyinstaller==6.5.0
pyinstaller-hooks-contrib==2024.3
pylint==3.1.0
pywin32-ctypes==0.2.2
six==1.16.0
suds-jurko==0.6
tomli==2.0.1
tomlkit==0.12.4
typing_extensions==4.10.0
uuid==1.30
win32-setctime==1.1.0
wxPython==4.2.1
zipp==3.18.1
